*,
*::before,
*::after {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

/* html,
body {
    height: 100%;
} */

html{
    background-color: #4C212A;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculator{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #01172F;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.415), 0 6px 20px 0 rgba(0, 0, 0, 0.318);
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    font-weight: 600;
}

.display-text{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: clamp(220px, 90%, 260px);
    font-size: clamp(30px, 15vw, 38px);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px 20px 0px;
    gap: 10px;
    width: clamp(280px, 90vw, 330px);
}

.calc-button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: none;
    background-color: #00635D;
    color: white;
}

.operations{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calc-button{
    font-size: 20px;
    font-weight: 700;
}

.decimal{
    font-size: 25px;
}

.zero{
    width: 126px;
    border-radius: 30px;
}

.operation{
    background-color: #446DF6;
}

.top{
    background-color: #08A4BD;
}